html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #222222;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url('images/logo-001.webp');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p, li {
  line-height: 1.4rem;
}

a {
  color: white;
  font-weight: bold;
}

header, footer {
  width: 100%;
  box-sizing: border-box;
}

header {
  background: #0056b3;
  color: white;
  padding: 1rem;
  text-align: center;
}

header .logo {
  width: 100px;
}

header .catchline {
  margin-top: -20px;
}

main {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  background: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 0;
}

main .about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
}

main .about-container p {
  width: 100%;
}

main .screens-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
  gap: 20px;
}

main .screens-container .screenshot-left {
  width: 45%;
  flex-grow: 1;
}

main .screens-container .screens-description {
  width: 45%;
  flex-grow: 1;
}

main .privacy-container {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  text-align: left;
}

main .install-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

main a.install-link {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #669900;
  text-decoration: none;
  text-align: center;
}

main a.install-link:hover {
  background-color: #92db00;
}

main .affiliate-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

main .affiliate-container img {
  width: 100%;
  border-radius: 8px;
}

main .log-container {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

footer {
  background: #333333;
  color: #ccc;
  text-align: center;
  padding: 1rem;
}















































